<style>
  #myliq{
   background-color:red;
    margin: 10px;
    padding: 10px;
   text-align:center;
    colore:white;
  }
</style>
{% if section.settings.show_announcement %}
<div id='myliq'>
  {{ section.settings.a_text }}
</div>
  {% endif %}
{% schema  %} 
 {
    "name":"Announcements",
    "settings":[
      {
  "type": "checkbox",
  "id": "show_announcement",
  "label": "Show announcement",
  "default": true
},
       {
  "type": "text",
  "id": "a_text",
  "label": "Heading",
  "default": "Please enter a hading"
}
    ]
   
  }
{% endschema %}