<style>
  #myliq{
   background-color:red;
    margin: 10px;
    padding: 10px;
  }
</style>
{% if section.settings.show_announcement %}
<div id='myliq'>
  hello world
</div>
  {% endif %}
{% schema  %} 
 {
    "name":"Announcements",
    "settings":[
      {
  "type": "checkbox",
  "id": "show_announcement",
  "label": "Show announcement",
  "default": false
}
    ]
   
  }
{% endschema %}