<style>
  #myliq{
   background-color:red;
    margin: 10px;
    padding: {{ section.settings.padding_size }}px;
   text-align:center;
    font-size: {{section.settings.font_size}}px;
    color:{{ section.settings.font_color }}
 

  }
</style>
{% if section.settings.show_announcement %}
<div id='myliq'>
  {{ section.settings.a_text }}
</div>
  {% endif %}
{% schema  %} 
 {
    "name":"Announcements",
    "settings":[
      {
  "type": "checkbox",
  "id": "show_announcement",
  "label": "Show announcement",
  "default": true
},
       {
  "type": "text",
  "id": "a_text",
  "label": "Heading",
  "default": "Please enter a hading"
},{
  "type": "range",
  "id": "font_size",
  "min": 12,
  "max": 24,
  "step": 1,
  "unit": "px",
  "label": "Font size",
  "default": 16
},{
  "type": "range",
  "id": "padding_size",
  "min": 5,
  "max": 15,
  "step": 1,
  "unit": "px",
  "label": "Padding size",
  "default": 10
}
,{
  "type": "color",
  "id": "font_color",
  "label": "Announcement text",
  "default": "#000000"
}

    ]
   
  }
{% endschema %}